.button
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;

  display:flex;
  justify-content: center;

  cursor: pointer;

  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  margin: 10px auto; 
  padding: 5px 5px;
  width: 175px;
  height:20px;

  background: #9a9ca0;
  border: 1px solid #9a9ca0;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #000;
  border-color: #000;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: '';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #000;
  right: 0;
  top: 50%;
}