<div>
	<h1>Temperature sensor graph</h1>
	<a href="#" class="button">
		<span>View Data</span>
	</a>
</div>

<div style="width:40%; height:40%; margin: auto; border: 10px;">
	<canvas id="myChart" width="200" height="200"></canvas>
</div>
