<div class="header">
	<h1>Dashboard</h1>
</div>

<a id = "switch_view" class="button">
	<span>View Data</span>
</a>
<div class = "panel1">
	<div class = "front">
		<a id = "save_image" class="button">
			<span>Save as Image</span>
		</a>
	</div>
	<div class = "back">
		<a id = "download_data" class="button">
			<span>Download data</span>
		</a>
	</div>
</div>


<div class = "panel2">
	<div class = "front">
		<%= content_tag "div", id: "graphCanvas", data: {dataset: @temperatureDataset, dates: @dates, roomNumber: @roomNumber} do %><% end %>
		<canvas id="temperatureChart" width="200" height="200"></canvas>
	</div>
	<div class = "back">
		<table>
		  <tr>
		    <th rowspan="2">Date</th>
		    <th colspan="6">Temperature (°C)</th>
		  </tr>
		  <tr>
			<th>Room 1</th>
			<th>Room 2</th>
			<th>Room 3</th>
			<th>Room 4</th>
			<th>Room 5</th>
			<th>Average</th>
		  </tr>
		  <tr>
		    <td>10/01/16</td>
		    <td>10</td>
		    <td>12</td>
		    <td>13</td>
		    <td>14</td>
		    <td>15</td>
		    <td>15</td>
		  </tr>
		  <tr>
		    <td>10/01/16</td>
		    <td>10</td>
		    <td>12</td>
		    <td>13</td>
		    <td>14</td>
		    <td>15</td>
		    <td>15</td>
		  </tr>
		  <tr>
		    <td>10/01/16</td>
		    <td>10</td>
		    <td>12</td>
		    <td>13</td>
		    <td>14</td>
		    <td>15</td>
		    <td>15</td>
		  </tr>
		  <tr>
		    <td>10/01/16</td>
		    <td>10</td>
		    <td>12</td>
		    <td>13</td>
		    <td>14</td>
		    <td>15</td>
		    <td>15</td>
		  </tr>
		</table>
	</div>
</div>
