<div class="center">
	<h1>Dashboard</h1>
	<a id = "switch_view" class="button">
		<span>View Data</span>
	</a>
	<a id = "download_data" class="button">
		<span>Save as Image</span>
	</a>
</div>

<div class = "panel">
	<div class = "front">
		<canvas id="temperatureChart" width="200" height="200"></canvas>
	</div>
	<div class = "back">
		<p>Hello!!!</p>
	</div>	
</div>
